body {
  padding: 20px;
  background: rgb(22, 20, 44);
  color: #fff;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.expanded {
  padding-left: 8px;
  border-left: 1px solid gray;
}

.active {
  background-color: white;
  color: black;
}